<div class="course-creator-menu-wrapper">
    <div class="w-embed">
      <style>
::-webkit-scrollbar
{
width: 7px;  /* for vertical scrollbars */
height: 1px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track
{
background: #bfd1e5;
}
::-webkit-scrollbar-thumb
{
background: #bfd1e5;
}
</style>
    </div>
    <div class="creator-menu-hide-button-wrapper">
      <div class="creator-menu-button">
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319aa" class="creator-menu-hide-arrow"><img src="/images/dropdown-arrow.svg" loading="lazy" width="19" alt="dropdown-arrow
" class="image-15"></div>
      </div>
    </div>
    <div class="course-creator-menu">
      <a href="/admin/" class="course-creator-menu-link dashboard w-inline-block">
        <div class="course-creator-menu-icon"><img src="/images/dashboard-white.svg" loading="lazy" width="29" data-w-id="f290771c-4035-1626-9b3e-38d045a319af" alt="">
          <div class="menu-on-click-icon-wrapper dashboard"><img src="/images/dashboard.svg" loading="lazy" width="26" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319b2" class="text-block-3">Dashboard</div>
      </a>
      <a href="/admin/website" class="course-creator-menu-link website w-inline-block">
        <div class="course-creator-menu-icon"><img src="/images/website-white.svg" loading="lazy" width="29" data-w-id="f290771c-4035-1626-9b3e-38d045a319b6" alt="">
          <div class="menu-on-click-icon-wrapper website"><img src="/images/website-on-click.svg" loading="lazy" width="26" alt=""></div>
        </div>
        <div class="text-block-3">Website</div>
      </a>
      <a href="/admin/programs" class="course-creator-menu-link courses w-inline-block">
        <div class="course-creator-menu-icon course-creation"><img src="/images/course-white.svg" loading="lazy" width="20" data-w-id="f290771c-4035-1626-9b3e-38d045a319bd" alt="">
          <div class="menu-on-click-icon-wrapper courses"><img src="/images/course-on-click.svg" loading="lazy" width="21" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319c0" class="text-block-3">Programs</div>
      </a>
      <a href="/admin/appointment" class="course-creator-menu-link appointments w-inline-block">
        <div class="course-creator-menu-icon appointments"><img src="/images/appoinments-white.svg" loading="lazy" width="26" data-w-id="f290771c-4035-1626-9b3e-38d045a319c4" alt="">
          <div class="menu-on-click-icon-wrapper appointments"><img src="/images/appoinments.svg" loading="lazy" width="26" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319c7" class="text-block-3">Appointments</div>
      </a>
      <!-- <a href="/admin/blogs" class="course-creator-menu-link blogs w-inline-block">
        <div class="course-creator-menu-icon blogs"><img src="/images/blog-white.svg" loading="lazy" width="26" data-w-id="39fa5caf-f3a7-a161-882d-43632c6928f4" alt="">
          <div data-w-id="39fa5caf-f3a7-a161-882d-43632c6928f5" class="menu-on-click-icon-wrapper blogs"><img src="/images/blog.svg" loading="lazy" width="26" alt=""></div>
        </div>
        <div data-w-id="39fa5caf-f3a7-a161-882d-43632c6928f7" class="text-block-3">Blogs</div>
      </a> -->
      <a href="/admin/resources" class="course-creator-menu-link resources w-inline-block">
        <div class="course-creator-menu-icon resources"><img src="/images/resource-library-white.svg" loading="lazy" width="22" data-w-id="f290771c-4035-1626-9b3e-38d045a319cb" alt="">
          <div class="menu-on-click-icon-wrapper resources"><img src="/images/resource-library.svg" loading="lazy" width="23" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319ce" class="text-block-3">Resources</div>
      </a>
      <a href="/admin/live" class="course-creator-menu-link go-live w-inline-block">
        <div class="course-creator-menu-icon go-live"><img src="/images/cruspo-live-stream-white.svg" loading="lazy" width="20" data-w-id="f290771c-4035-1626-9b3e-38d045a319d2" alt="" class="image-25">
          <div class="menu-on-click-icon-wrapper go-live"><img src="/images/cruspo-live-stream.svg" loading="lazy" width="20" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319d5" class="text-block-3">Go Live</div>
      </a>
      <a href="/admin/manageMembers" class="course-creator-menu-link manage-members w-inline-block">
        <div class="course-creator-menu-icon manage-members"><img src="/images/members-details-white.svg" loading="lazy" width="20" data-w-id="f290771c-4035-1626-9b3e-38d045a319d9" alt="">
          <div class="menu-on-click-icon-wrapper manage-members"><img src="/images/members-details.svg" loading="lazy" width="20" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319dc" class="text-block-3">Manage Members</div>
      </a>
      <!-- <div class="marketing-dropdown-wrapper">
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319df" class="marketing-dropdown-toggle">
          <div class="course-creator-menu-icon marketing"><img src="/images/email-marketing-white.svg" loading="lazy" width="26" data-w-id="f290771c-4035-1626-9b3e-38d045a319e1" alt="">
            <div class="menu-on-click-icon-wrapper marketing"><img src="/images/email-marketing.svg" loading="lazy" width="23" alt=""></div>
          </div>
          <div class="text-block-3">Marketing</div><img src="/images/dropdown-arrow.svg" loading="lazy" width="10" alt="dropdown-arrow
          " class="image-19">
        </div>
        <div class="marketing-dropdown-links-wrapper">
          <a href="/admin/announcement" class="course-creator-menu-link announcement w-inline-block">
            <div class="course-creator-menu-icon announcement"><img src="/images/announcement-icon-white.svg" loading="lazy" width="21" alt="" class="announcement-image">
              <div data-w-id="f290771c-4035-1626-9b3e-38d045a319eb" class="menu-on-click-icon-wrapper announcement icon"><img src="/images/announcement-icon.svg" loading="lazy" width="21" alt=""></div>
            </div>
            <div data-w-id="f290771c-4035-1626-9b3e-38d045a319ed" class="text-block-3">Announcement</div>
          </a>
        </div>
      </div> -->
      <a href="/admin/earnings" aria-current="page" class="course-creator-menu-link earnings w-inline-block w--current">
        <div class="course-creator-menu-icon earning-history"><img src="/images/earning-history-white.svg" loading="lazy" width="23" data-w-id="f290771c-4035-1626-9b3e-38d045a319f1" alt="">
          <div class="menu-on-click-icon-wrapper earning-history"><img src="/images/earning-history-on-click.svg" loading="lazy" width="23" alt="appointment-price"></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319f4" class="text-block-3">Earning </div>
      </a>
      <!-- <a href="/admin/billings" class="course-creator-menu-link billing w-inline-block">
        <div class="course-creator-menu-icon billing-history"><img src="/images/billing-history-white.svg" loading="lazy" width="23" data-w-id="f290771c-4035-1626-9b3e-38d045a319f8" alt="">
          <div class="menu-on-click-icon-wrapper billing-history"><img src="/images/billing-history.svg" loading="lazy" width="23" alt=""></div>
        </div>
        <div data-w-id="f290771c-4035-1626-9b3e-38d045a319fb" class="text-block-3">Billing </div>
      </a> -->
      <a href="/admin/account" class="course-creator-menu-link account w-inline-block">
        <div class="course-creator-menu-icon account"><img src="/images/settings-white.svg" loading="lazy" width="21" alt="">
          <div class="menu-on-click-icon-wrapper account"><img src="/images/settings-blue.svg" loading="lazy" width="21" alt=""></div>
        </div>
        <div class="text-block-3">Account</div>
      </a>
      <a href="/admin/help-and-support" class="course-creator-menu-link help-and-support w-inline-block">
        <div class="course-creator-menu-icon help-and-support"><img src="/images/help-and-support-white.svg" loading="lazy" width="20" alt="">
          <div class="menu-on-click-icon-wrapper help-and-support"><img src="/images/help-and-support.svg" loading="lazy" width="20" alt=""></div>
        </div>
        <div class="text-block-3">Help &amp; Support</div>
      </a>
      <a href="/authentication/logout" class="course-creator-menu-link w-inline-block">
        <div class="course-creator-menu-icon help-and-support"><img src="/images/log-out-web.svg" loading="lazy" width="20" alt="" class="image-27"></div>
        <div class="text-block-3">Log Out</div>
      </a>
    </div>
  </div>