<div class="learner-bottom-menu">
  <div class="learner-more-option-wrapper">
    <div class="learner-more-window">
      <a href="/learn/account" class="learner-menu-link account more w-inline-block"><img src="../images/account-on-click.svg" loading="lazy" width="20" alt="" class="image-16 more">
        <div class="text-block-41 bottom">My Account</div>
      </a>
      <a href="/learn/help-and-support" class="learner-menu-link help-and-support more w-inline-block"><img src="../images/help-and-support.svg" loading="lazy" width="20" alt="" class="image-16 more">
        <div class="text-block-41 bottom">Help &amp; Support</div>
      </a>
      <a href="/authetication/logout" class="learner-menu-link log-out w-inline-block"><img src="../images/log-out.svg" loading="lazy" width="20" alt="" class="image-16 more-copy">
        <div class="text-block-41 bottom">Log Out</div>
      </a>
    </div>
  </div>
  <div class="learner-menu-link-wrapper bottom-menu">
    <a href="/dashboard" class="learner-menu-link dashboard bottom w-inline-block"><img src="../images/dashboard.svg" loading="lazy" width="22" alt="" class="image-16">
      <div class="text-block-41 bottom">Dashboard</div>
    </a>
    <a href="/learn/programs" class="learner-menu-link courses bottom w-inline-block"><img src="../images/course-on-click.svg" loading="lazy" width="17" alt="" class="image-16">
      <div class="text-block-41 bottom">My Programs</div>
    </a>
    <a href="/learn/live" aria-current="page" class="learner-menu-link live bottom w-inline-block w--current"><img src="../images/cruspo-live-stream.svg" loading="lazy" width="21" alt="" class="image-16">
      <div class="text-block-41 bottom">Live Sessions</div>
    </a>
    <!-- <a href="" class="learner-menu-link billing bottom w-inline-block"><img src="../images/billing-history.svg" loading="lazy" width="19" alt="" class="image-16">
      <div class="text-block-41 bottom">Billing</div>
    </a> -->
    <div data-w-id="b1e02a9a-019a-502a-afbe-ee0bc31d2492" class="learner-menu-more">
      <div class="learner-menu-more-button">
        <div class="more-button learner"></div>
        <div class="more-button learner"></div>
        <div class="more-button learner"></div>
      </div>
    </div>
  </div>
</div>
